
%article{:class => 'photos'}
  %img{:src => "http://farm7.static.flickr.com/6139/6002819151_a040f32ff3_b.jpg", :alt => "Sommet du pic de l'étandard, Juillet 2011", :title => "Sommet du pic de l'étandard, Juillet 2011"}
  %footer
    %h2
      Sommet du pic de l'étandard, Juillet 2011
    %p{:class => "info"}
      Par Stéphane Akkaoui - le 31 Juillet 2011

%article{:class => 'photos'}
  %img{:src => "http://farm7.static.flickr.com/6123/6002813845_62b0129d01_b.jpg", :alt => "Pic de l'étandard, Juillet 2011", :title => "Pic de l'étandard, Juillet 2011"}
  %footer
    %h2
      Pic de l'étandard, Juillet 2011
    %p{:class => "info"}
      Par Stéphane Akkaoui - le 31 Juillet 2011
      
    %p{:class => "description"}
      Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, tu vois au passage qu'il n'y a rien de concret car on vit dans une réalité qu'on a créée et que j'appelle illusion car l'aboutissement de l'instinct, c'est l'amour ! Et là, vraiment, j'essaie de tout coeur de donner la plus belle réponse de la terre !