
%article{:class => 'photos'}
  %img{:src => "http://farm7.static.flickr.com/6139/6002819151_a040f32ff3_b.jpg", :alt => "Sommet du pic de l'étandard, Juillet 2011", :title => "Sommet du pic de l'étandard, Juillet 2011"}
  %footer
    %p
      Sommet du pic de l'étandard, Juillet 2011

%article{:class => 'photos'}
  %img{:src => "http://farm7.static.flickr.com/6123/6002813845_62b0129d01_b.jpg", :alt => "Pic de l'étandard, Juillet 2011", :title => "Pic de l'étandard, Juillet 2011"}
  %footer
    %p
      Pic de l'étandard, Juillet 2011