!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "fr", :lang => "fr", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %title
      This Time - Stéphane Akkaoui's photo blog
    %link{:rel => "stylesheet", :href => "/site.css", :type => "text/css", :media => "screen", :charset =>"utf-8"}
  %body

    %h1{:id => "header"}
      This Time

    %div
      = yield
