%meta{:property => "og:title", :content => picture.title}
%meta{:property => "og:url", :content => picture.url}
%meta{:property => "og:image", :content => picture.source}
%meta{:property => "og:description", :content => picture.description || picture.title}