%section{:class => 'photos'}

  - if @picture.nil?
    %p
      This picture doesn't exist
  - else
    = partial :picture, :locals => {:picture => @picture}

%section{:class => 'comments'}
  %fb:comments{:href => @picture.url, :num_posts => "2", :width => "auto", :width => '900px'}