body {
	background-color: #C9C8B1;
	color: #7D7F6D;
	font-family: verdana;
	margin: 0 10px;
	padding: 0;
}

a {
	color: #F6F7B2;
	text-decoration: none;
}

a:hover {
	color: #F6F7B2;
	text-decoration: underline;
}

#header {
	margin-bottom: 20px;
}

.wide #header {
	background-color:rgba(0,0,0,0.1);
	padding: 20px;
	position: fixed;
	right: 0;
	z-index: 1;
	width: 300px;
}

#header h1 {
	background-color: #7D7F6D;
	color: #DDDEA0;
}

#header h1 a:hover,
#header h1 a {
	color: #DDDEA0;
}

.wide #header h1 {
	padding: 20px 40px 20px 20px;
}

.small #header h1 {
	padding: 20px;
}

.photos {
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.photo {
	display: block;
	padding: 0;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}

.photo:first-child {
	margin: 0;
}

.photo footer {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	margin: 0;
	text-align: left;
	
	-webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px;
  border-radius: 0 0 10px 10px;
}

.photo footer .container {
	padding: 10px;
}

.photo footer .like_button {
	float: right;
	height: 100%;
}

.photo footer h2 {
	font-size: 1em;
	margin: 0px;
}

.photo footer .info {
	font-size: 0.8em;
	margin: 0px;
}

img {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	-webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}