body {
	background-color: black;
	color: #AAA;
}

#header {
	position: absolute;
}


.photos {
	height: 100%;
	margin: 10px;
	position: relative;
}

.photos footer {
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
}

img {
	height: 100%;
	-webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}