body {
	background-color: black;
	color: #AAA;
	font-family: verdana;
}

.wide #header {
	position: fixed;
	right: 0;
	background-color: #EEE;
	padding: 20px 40px 20px 20px;
	z-index: 1;
}

.small #header {
	background-color: #EEE;
	padding: 20px;
}

.photos {
	text-align: center;
	margin: 0;
	padding: 0;
}

.photo {
	padding: 0;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}

.photo footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	margin: 0;
	padding: 10px;
	display: none;
	text-align: left;
}

.photo footer h2 {
	font-size: 1em;
	margin: 0px;
}

.photo footer .info {
	font-size: 0.8em;
	margin: 0px;
}

img {
	height: 100%;
	-webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
	margin: 0;
	padding: 0;
	border: none;
}